<!-- <!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test EJS</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body> -->
<header>
    <div class="header-left">
        <div class="title">
            <b>Jarvis</b>
        </div>
    </div>
    <div class="header-right">
        <% if (typeof(route) === 'undefined') { %>
            <button class="button" onclick="window.location.href='/form'">Connection</button>
        <% } else if (route === 'form' && id !== 'stark' && code !== 'tony') { %>
            <button class="button" onclick="window.location.href='/form'">Connection</button>
        <% } else if (route === 'form' && id === 'stark' && code === 'tony') { %>
            <button class="button" onclick="window.location.href='/'">Déconnexion</button>
        <% } %>
    </div>
</header>