
<div class="form-container">
    <form action="/form" method="POST" class="simple-form">
        <div class="form-row">
            <div class="form-group">
                <label for="identifiant" class="form-label">Identifiant</label>
                <input type="text" id="identifiant" name="identifiant" class="form-control" placeholder="Identifiant">
            </div>
            
            <div class="form-group">
                <label for="code" class="form-label">Code</label>
                <input type="password" id="code" name="code" class="form-control" placeholder="Code">
            </div>
            
            <button type="submit" name="button" value="bouton_01" class="btn-submit">
                Submit
            </button>
        </div>
    </form>
</div>